<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
    <title>Signup</title>
    <link rel="stylesheet" href="/sheets/bootstrap.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="/sheets/font-awesome.min.css"> <!-- load fontawesome -->
    <style>

         @font-face {
                font-family: raleway-bold;
                src: url(/fonts/Raleway-Bold.ttf)
        }
        @font-face {
                font-family: raleway-light;
                src: url(/fonts/Raleway-Light.ttf)
        }

        body{
            background:url("/images/back_log_kishan.jpg");
            background-size:100%;
            height:100%;
            width:100%;
        }
        @font-face{

            font-family: "panton-bold";
            src: url("/fonts/Panton-BlackCaps.otf");

        }
        .zlogo{

            display:block;
            margin:0px auto;
            width:240px;
            margin-bottom:20px;

        }
        .loginh1{
            font-family: raleway-bold;
            font-size:18px;
            text-align:center;
            margin-top:50px;
            margin-bottom:30px;

        }
        .alert {
            padding: 7px 14px;
        }
        .icon{

            color: gray;
            float: right;
            margin-top: -25px;
            margin-right: 13px;
            font-size:18px;
        }
        .loginbtn{
            position: relative;
            right: 25px;
            top: -30px;
            font-family: raleway-bold;
            float: right;
            color: #282828;
            padding: 8px 30px;
            border-radius: 3px;
            font-size: 14px;
            font-weight: bold;
            background-color: #f3ac00;
            border-color: #f3ac00;

        }
        input[type=file]::-webkit-file-upload-button {

            color:white;
            background:#666666;
            border:1px solid #666666;
            border-radius:3px;

        }

        .rdbx>input[type="radio"]{
            display:none;
        }
        .rdbx>input[type="radio"]:checked+label:after{

            font-family: FontAwesome;
            display: inline-block;
            content: "\f058";
            font-size:30px;
            margin-left: -40px;
            position: relative;
            top: -23px;
            right: -15px;
            color:orange;

        }
        .rdbx>input[type="radio"]:checked+label+.rcont{

            background:#002776;
            color:white;

        }
        .rdbx>input[type="radio"]:checked+label{

            background:#002776;
            color:white;
            border-radius:5px;

        }

        .rdbx{

            display:inline-block;
            margin-right:7px;
            margin-left: 25px;

        }
        label>.rimg{
            width:70px;
            height:80px;
            cursor:pointer;
            background-size:contain;
            background-repeat:no-repeat;
            display:inline-block;
            background:transparent;
            border:1px solid #000000;
            border-radius:3px;
        }
        .rcont{
            margin:0;
            text-align:center;
            font-size:12px;
            line-height:12px;
            margin-top: -25px;
            margin-bottom:20px;
            cursor:pointer;
            font-family: raleway-bold;
        }
        .rdbx .fa{

            font-size:35px;
            text-align:center;
            padding-top:12px;
            color:#6666666;

        }
        #plus{
            border: none;
            padding: 0;
            background: none;
        }
        .form-control{
           font-family: raleway-light;
            margin: 0px auto;
            display: block;
            width: 87%;
            height: 35px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.428571429;
            color: black;
            vertical-align: middle;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-weight:bold;
        }
        .test_uplab{
           padding-left:25px;
        }
        p {
            font-family: raleway-light;
            font-weight:bold;
            line-height: 8px;
            margin: 0 0 10px;
            margin-left: 25px;
            color:#000000;
        }
        a {
           color:#000000;
           text-decoration: underline;
        }
        .form-group{
           margin-bottom:8px;
        }

    </style>
</head>
<body>
    <div class="container">
         <h1 class="loginh1">Sign up</h1>
        <div class="col-sm-4 col-sm-offset-4">
            <img src="/images/raj_kishan_logo.png" class="zlogo">
            <!--<% if (message) { %>-->
            <!--<div class="alert alert-danger"><%= message %></div>-->
            <!--<% } %>-->
            <!-- SIGNUP FORM -->
            <form action="/signup" method="post" enctype = "multipart/form-data" >
                <div class="form-group">
                    <input type="text" class="form-control" name="username" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" name="email" placeholder="Email ID" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Password" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="aadhaarNo" placeholder="Enter your Aadhar no." required>
                </div>
                <label class="test_uplab">Upload KYC Doc:</label>
                <div class="form-group">
                    <input type="file" class="form-control" name="file" required>
                </div>
                <div class="form-group">
                    <label class="test_uplab">Role (Select any one):</label><br>
                    <div class="rdbx">
                        <input type="radio" name="role" value="Retailer" id="Retailer" />
                        <label for="Retailer"><span class="fa fa-user rimg"></span></label>
                        <p class="rcont">Retailer</p>
                    </div>
                    <div class="rdbx">
                        <input type="radio" name="role" value="Admin" id="Admin" />
                        <label  for="Admin"><span class="fa fa-handshake-o rimg"></span></label>
                        <p class="rcont">Admin</p>
                    </div>
                <button type="submit" class="btn btn-warning btn-lg loginbtn">Signup</button>
            </form>
            <p>Already have an account?</p>
            <p><a href="/login">Login</a> Or <a href="/">Home</a>.</p>
        </div>

    </div>
</body>
<script>
</script>
</html>
