<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>Exchange</title>
    <link rel="stylesheet" href="../styles/sheets/bootstrap.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="../styles/sheets/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        @font-face{

            font-family: "raleway";
            src: url("../styles/fonts/Raleway-Light.ttf");

        }
		body{
			font-family: raleway-light;
            background:url("../styles/images/back_log_kishan.jpg");
            background-size:100%;
            height:100%;
            width:100%;
            font-family: "raleway";
		}
        @font-face{

            font-family: "panton-bold";
            src: url("../styles/fonts/Panton-BlackCaps.otf");

        }
        .zlogo{
text-align: left;
            display: block;
            margin: 0px auto;
            width: 150px;
            margin-bottom: 20px;
            float: left;
            margin-top:20px;
            margin-left:20px;

        }
        .loginh1{

            font-size:18px;
            text-align:center;
            font-family: "panton-bold";
            margin-top:60%;
            margin-bottom:30px;

        }
        .loginbtn{

            float:right;
            color:black;
            padding:5px 10px;
            border-radius:3px;
            font-size:14px;
            font-weight:bold;

        }
        .icon{

            color: gray;
            float: right;
            margin-top: -25px;
            margin-right: 13px;
            font-size:18px;
        }
        .alert {
            padding: 7px 14px;
        }
        .zeon_logo {
            width: 150px;
            float: right;
            margin-right: 20px;
            margin-top:20px;
        }
       .col-sm-offset-4 {
                margin-left: 28.33333333333333%;
        }
        a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    text-decoration: underline;
}

    </style>
</head>
<body>
<div class=""><img src="../styles/images/zeonlab_logo.png" class="zeon_logo"></div>
  <div><img src="../styles/images/raj_kishan_logo.png" class="zlogo"></div>
<div class="container">

<div class="col-sm-4 col-sm-offset-4">
    <h1 class="loginh1">Exchange ₹ to Raj Coins</h1>
    <div class="col-md-4 col-sm-4">
      <span>
          <img src="../styles/images/rupee.png" style="height: 25px;">
      </span>
    </div>
    <div class="col-md-4 col-sm-4">
      <span class="fa fa-arrow-right" style="margin-left:30px;"></span>
    </div>
    <div class="col-md-4 col-sm-4">
      <span>
          <img src="../styles/images/rajicon.png" style="width: 25px;float:right;">
      </span>
    </div>
    <br/><br/>
        <div class="form-group">
            <input type="number" class="form-control" id="amount" name="amount" placeholder="Amount of tokens you wish to buy">
        </div>
        <div class="col-md-12 col-sm-12">
          <input type="checkbox" name="terms" required></input>
          <a href="../styles/files/ZeonLab_Terms&Conditions.pdf">I agree to terms</a>
        </div>
    </form>
    <button type="submit" class="btn btn-warning btn-lg loginbtn" onclick="exchangeEth2Zen()">Start Transaction</button>
    <p><p><a href="/checkbalance">Check Balance</a></p></p>
</div>
</div>
</body>
<script>
function exchangeEth2Zen() {
  var xhttp = new XMLHttpRequest();
  document.getElementById("status").innerHTML = "Transaction sent....Awaiting Response";
  //var address = encodeURIComponent(document.getElementById("address").value);
  //var pvtkey = encodeURIComponent(document.getElementById("pvtkey").value);
  var amount = encodeURIComponent(document.getElementById("amount").value);
  var parameters = "address=" + "09" + "&pvtkey=" + "090" + "&amount=" + amount;

  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      if(xhttp.responseText == -1){

      }
      else{
        var res = JSON.parse(xhttp.responseText);
        document.getElementById("status").innerHTML = "Transaction successful";
        console.log("Status", res.status);
      }
    }
  }

    xhttp.open("POST", "/tradeCoins", true);
		xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		xhttp.send(parameters);
}
</script>
</html>
